body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    padding:40px;
}

.container{
    max-width:800px;
    margin:auto;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    margin-top:20px;
}